
<% content_for :sidebar do %>
    <a href="#wilday-ui-button" class="sidebar-link" data-level="1">Wilday UI - Button Component</a>
    <a href="#default-icon" class="sidebar-link" data-level="2">Default Icon</a>
<% end %>

<div>
  <h1 id="wilday-ui-button">Wilday UI Button Component</h1>

  <h2 id="default-icon">Default Icon</h2>

  <div class="component-item">
    <%= w_button "Save",
    variant: :solid,
    theme: { name: :primary },
    icon: "fa-solid fa-save" %>

    <%= w_button "Next",
        variant: :solid,
        theme: { name: :primary },
        icon: "fa-solid fa-arrow-right",
        icon_position: :right %>

    <%# Icon-only button %>
    <%= w_button "",
        icon: "fa-solid fa-thumbs-up",
        icon_only: true
    %>

    <%# Icon-only button %>
    <%= w_button "",
        radius: :pill,
        icon: "fa-solid fa-thumbs-up",
        icon_only: true
    %>
  </div>
</div>
