
<% content_for :sidebar do %>
    <a href="#wilday-ui-button" class="sidebar-link" data-level="1">Wilday UI - Button Component</a>
    <a href="#default-radius" class="sidebar-link" data-level="2">Default Radius</a>
<% end %>

<div>
  <h1 id="wilday-ui-button">Wilday UI Button Component</h1>

  <h2 id="default-radius">Default Radius</h2>

  <div class="component-item">
    <%= w_button "Save Changes", radius: :rounded %>
    <%= w_button "Save Changes", radius: :pill %>
    <%= w_button "Save Changes", radius: :square %>
  </div>
</div>
