<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
</style>

<div class="container">
  <h1>Wilday UI Button Component</h1>

  <h2>Default Radius</h2>

  <div>
    <%= w_button "Save Changes", radius: :rounded %>
    <%= w_button "Save Changes", radius: :pill %>
    <%= w_button "Save Changes", radius: :square %>
  </div>
</div>
